body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

table {
    border-collapse: collapse;
    margin: 0 auto; /* Ortalamak için */
    max-width: 800px; /* Maksimum genişlik belirleme */
}

td {
    vertical-align: top;
    padding: 10px;
}

img {
    max-width: 100%;
    margin-bottom: 20px;
}
