.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .header {
    width: 800px;
    height: 400px;
    background-image: url(/images/dogal-sular.jpg);
    position: relative;
  }
  
  .header h1 {
    font-size: 40px;
    position: absolute;
    top: 0;
    left: 0;
    margin: 20px;
    color: white;
  }
  
  .header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 20px;
    margin-right: 20px;
  }
  
  .header ul li {
    
    display: inline-block;
    margin-left: 10px;
  }
  .header ul li a:hover {
    background-color: transparent;
    color: white;
    border-radius: 20px;
    border: 2px solid white;
    padding: 5px 10px;
}
  .header ul li a {
    text-decoration: none;
    color: white;
  }
  .header ul li:last-child a {
    background-color: blue;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    box-shadow: none;
  }
  
  .header .middle-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
  }
  
  .header .search-button {
    display: block;
    margin: 20px auto 0;
    padding: 10px 20px;
    background-color: white;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
  }
.start-with-you {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.start-with-you h2 {
    color: white; 
  }
.search {
    position: absolute;
    top: calc(50% + 30px);
    left: 50%;
    transform: translateX(-50%);
}
.search button {
    background-color: blue;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    box-shadow: none;
}

  
  .body {
    width: 800px;
    height: 500px;
    background-color: rgb(224, 208, 208);
  }
  
  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 800px;
    height: 200px;
    background-color: rgb(15, 15, 15);
  }
  .footer .icons {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .footer .icons i {
    font-size: 24px;
    margin: 0 5px;
    color: white;
  }
  
  